<style>
    .bridge-table {
        border-color: inherit;
        border-collapse: collapse;
        text-indent: 0;
        width: 100%;
        color: white;
    }

    .bridge-table, th, td {
        border: 1px solid rgba(75, 85, 99, 1.0);
    }

    .bridge-table tr {
        height: 0.5rem !important;
    }

    .bridge-table-padding {
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .bridge-table-category {
        color: white;
        background-color: rgba(75, 85, 99, .2);
        height: 2rem;
    }

    .bridge-table-resource {
        color: gray;
        background-color: rgba(243, 244, 246, .2);
    }
</style>

<table class="bridge-table">
    <thead>
        <tr>
            <th></th>
            <th class="bridge-table-padding" align="center">ESX</th>
            <th class="bridge-table-padding" align="center">QBCore</th>
            <th class="bridge-table-padding" align="center">QBox</th>
        </tr>
    </thead>
    <tbody>
        <tr class="bridge-table-category">
            <td class="bridge-table-padding" align="center"><strong>Database</strong></td>
            <td class="bridge-table-padding" align="center"></td>
            <td class="bridge-table-padding" align="center"></td>
            <td class="bridge-table-padding" align="center"></td>
        </tr>
        <tr class="bridge-table-resource">
            <td class="bridge-table-padding" align="center">oxmysql</td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
        </tr>
        <tr class="bridge-table-category">
            <td class="bridge-table-padding" align="center"><strong>Inventory</strong></td>
            <td class="bridge-table-padding" align="center"></td>
            <td class="bridge-table-padding" align="center"></td>
            <td class="bridge-table-padding" align="center"></td>
        </tr>
        <tr class="bridge-table-resource">
            <td class="bridge-table-padding" align="center">qb-inventory</td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/cross.png"></td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/cross.png"></td>
        </tr>
        <tr class="bridge-table-resource">
            <td class="bridge-table-padding" align="center">lj-inventory</td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/cross.png"></td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/cross.png"></td>
        </tr>
        <tr class="bridge-table-resource">
            <td class="bridge-table-padding" align="center">aj-inventory</td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/cross.png"></td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/cross.png"></td>
        </tr>
        <tr class="bridge-table-resource">
            <td class="bridge-table-padding" align="center">ax-inventory</td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/cross.png"></td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/cross.png"></td>
        </tr>
        <tr class="bridge-table-resource">
            <td class="bridge-table-padding" align="center">ps-inventory</td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/cross.png"></td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/cross.png"></td>
        </tr>
        <tr class="bridge-table-resource">
            <td class="bridge-table-padding" align="center">ox-inventory</td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
        </tr>
        <tr class="bridge-table-resource">
            <td class="bridge-table-padding" align="center">qs-inventory</td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
        </tr>
        <tr class="bridge-table-resource">
            <td class="bridge-table-padding" align="center">codem-inventory</td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
        </tr>
        <tr class="bridge-table-category">
            <td class="bridge-table-padding" align="center"><strong>Target</strong></td>
            <td class="bridge-table-padding" align="center"></td>
            <td class="bridge-table-padding" align="center"></td>
            <td class="bridge-table-padding" align="center"></td>
        </tr>
        <tr class="bridge-table-resource">
            <td class="bridge-table-padding" align="center">ox_target</td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
        </tr>
        <tr class="bridge-table-resource">
            <td class="bridge-table-padding" align="center">qb-target</td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/cross.png"></td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
        </tr>
        <tr class="bridge-table-resource">
            <td class="bridge-table-padding" align="center">qtarget</td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
        </tr>
        <tr class="bridge-table-category">
            <td class="bridge-table-padding" align="center"><strong>Zone</strong></td>
            <td class="bridge-table-padding" align="center"></td>
            <td class="bridge-table-padding" align="center"></td>
            <td class="bridge-table-padding" align="center"></td>
        </tr>
        <tr class="bridge-table-resource">
            <td class="bridge-table-padding" align="center">ox_lib</td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
        </tr>
        <tr class="bridge-table-resource">
            <td class="bridge-table-padding" align="center">PolyZone</td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
            <td class="bridge-table-padding" align="center"><img src="https://dev.reflow-store.com/static/check.png"></td>
        </tr>
    </tbody>
</table>