<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>ESX</th>
            <th>QBCore</th>
            <th>QBox</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>qb-inventory</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
        </tr>
        <tr>
            <td>qb-inventory</td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
        </tr>
    </tbody>
</table>